In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('songs.csv')
df.head()

                                Song Name     Artist Name   Emotion Language
0  Kabhi Khushi Kabhie Gham (Title Track)     A.R. Rahman       joy    Hindi
1                     Singin' in the Rain      Gene Kelly       joy  English
2                    Chura Liya Hai Tumne     R.D. Burman   neutral    Hindi
3                       Bohemian Rhapsody           Queen  surprise  English
4                                   Gerua  Shreya Ghoshal   sadness    Hindi

In [3]:
#ALl Emotion List
list=df["Emotion"].unique().tolist()
list

['joy',
 'neutral',
 'surprise',
 'sadness',
 'anger',
 'disgust',
 'shame',
 'fear',
 'Happy',
 'Romantic']

In [4]:
#For joy
joy=df[df['Emotion']=='joy'].drop("Emotion",axis=1)
joy_row=joy.shape[0]
joy.head()
joy.iloc[53]

Song Name      Alka Yagnik - Random Song 77
Artist Name                     Alka Yagnik
Language                              Hindi
Name: 158, dtype: object

In [5]:
#For sadness
sadness=df[df['Emotion']=='sadness'].drop("Emotion",axis=1)
sadness_row=sadness.shape[0]
sadness.head()

                      Song Name     Artist Name Language
4                         Gerua  Shreya Ghoshal    Hindi
6   Kal Ho Naa Ho (Title Track)      Sonu Nigam    Hindi
9                         Hello           Adele  English
18          My Heart Will Go On     Celine Dion  English
25                     Bezubaan     Arjit Singh    Hindi

In [6]:
#For neutral
neutral=df[df['Emotion']=='neutral'].drop("Emotion",axis=1)
neutral_row=neutral.shape[0]
neutral.head()

                        Song Name         Artist Name Language
2            Chura Liya Hai Tumne         R.D. Burman    Hindi
5             A Sky Full Of Stars            Coldplay  English
13  Tare Zameen Par (Title Track)  Shankar-Ehsaan-Loy    Hindi
41              Shankar Jaikishan     Lata Mangeshkar    Hindi
46                        Imagine         John Lennon  English

In [7]:
#For Surprise
surprise=df[df['Emotion']=='surprise'].drop("Emotion",axis=1)
surprise_row=surprise.shape[0]
surprise.head()

                    Song Name      Artist Name Language
3           Bohemian Rhapsody            Queen  English
22                  Let It Go     Idina Menzel  English
42                Billie Jean  Michael Jackson  English
80  We Don't Talk About Bruno     Encanto Cast  English
89         Billie Jean (Live)  Michael Jackson  English

In [8]:
#For anger
anger=df[df['Emotion']=='anger'].drop("Emotion",axis=1)
anger_row=anger.shape[0]
anger.head()

               Song Name       Artist Name Language
8   Sultan (Title Track)  Sukhwinder Singh    Hindi
12    Livin' on a Prayer          Bon Jovi  English
14                  Roar        Katy Perry  English
20         Lose Yourself            Eminem  English
27  Malang - Title Track      Arijit Singh    Hindi

In [9]:
#For disgust
disgust=df[df['Emotion']=='disgust'].drop("Emotion",axis=1)
disgust_row=disgust.shape[0]
disgust.head()

                            Song Name      Artist Name         Language
15                  Munni Badnaam Hui     Mamta Sharma            Hindi
121       Sonu Nigam - Random Song 62       Sonu Nigam            Hindi
137  Lata Mangeshkar - Random Song 35  Lata Mangeshkar            Hindi
156          Journey - Random Song 77          Journey  Hindi & English
157  Michael Jackson - Random Song 87  Michael Jackson            Tamil

In [10]:
#For shame
shame=df[df['Emotion']=='shame'].drop("Emotion",axis=1)
shame_row=shame.shape[0]
shame.head()

                      Song Name                   Artist Name Language
31                     Senorita  Camila Cabello, Shawn Mendes  English
48           Can't Feel My Face                    The Weeknd  English
91     Wrecking Ball (Acoustic)                   Miley Cyrus  English
105                 Blank Space                  Taylor Swift  English
116  Lady Gaga - Random Song 52                     Lady Gaga  English

In [11]:
#For fear
fear=df[df['Emotion']=='fear'].drop("Emotion",axis=1)
fear_row=fear.shape[0]
fear.head()

                 Song Name         Artist Name Language
37  Sympathy for the Devil  The Rolling Stones  English
50        Hotel California              Eagles  English
52                 Bad Guy       Billie Eilish  English
64                Thriller     Michael Jackson  English
66           Like a Prayer             Madonna  English